/*  .cabeca1 .Categorias .opcoes .busca */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Cores do site */
    --cor1:#074073;
    --cor2:#F2B705;
    --cor3:#F2A71B;
    --cor4:#F27405;
    --cor5:#F2F2F2;

    /* Fontes e tamanhos */
    --fontsite:'Montserrat',Arial,sans-serif;
    --font-size-padrao: 1rem;
    --font-size-pequeno: 1.2rem;
    --font-size-medio: 1.5rem;
    --font-size-grande: 2rem;
    --cor-branca: var(--cor5);
    --cor-preta: #000000;

}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: var(--fontsite);
    color:var(--cor5) ;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor5);
    overflow-x: hidden;
}

/* Estilização da Header */
.cabeca1{
    background-color: var(--cor1);
    padding: 10px 30px;
}
/* .div{
    margin: 0px 0px 0px 200px; 
} */
.menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.categorias{
    display: flex;
    gap: 50px;
    font-size: var(--font-size-pequeno);
    list-style: none;
}
.logo{
    width: 80px;
}
.material-symbols-outlined {
    font-size: 35px;
    color:var(--cor5);
    /* background-color: #F27405; */
    /* border-radius: 50%; */
}
/* Estilização do corpo e conteudo */
.container{
    max-width: 80%;
    margin: auto;
    /* border: 1px solid black; */
}

/* Main/Conteudo */
.conteudo{
    /* main/largura do site  */
    background-color:var(--cor5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.sobre-main{
    display: flex;
    align-items: center;
}
.cor{
    color: var(--cor-preta);
}
.texto{
    width: 50%;
    text-align: justify;
}



/* Estilização Footer */
.main-footer{
    background-color: var(--cor1);
    display: flow-root;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-content{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    /* border-top: 2px solid #f2f2f228; */
}
.logof{
    width: 80px;
}
.footer-section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    
}
.footer-section h4 {
    width: 100%; 
    text-align: left; 
    margin: 0 0 8px 0; 
    color: var(--cor5); 
    font-size: 1.1rem;
}
.footer-links{
    padding-top: 9px;
}
.footer-links:hover{
    text-decoration: underline;
}